
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalInsert">
    <span class="fa fa-plus"></span>
    Nuevo clientes
  </button>
<div class="container">
    <div class="clientes" *ngFor="let cliente of arrClientes; index as i" >
        <div class="cliente">
            <h4> {{cliente.id}} - {{cliente.nombre}} {{cliente.apellido}}</h4>
            <p>{{cliente.email}}</p>
            <p>{{cliente.createAt}}</p>
            <p>Descripcion {{ cliente.tipocliente.nombre }}</p>
            
            
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" (click)="onClickDetalle(cliente.id)">Detalle</button>
            <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#myModalInsert" (click)="onClickModificar(cliente.id)">Modificar</button>
            <button type="button" class="btn btn-danger btn-lg"  (click)="onClickEliminar(cliente.id)">Eliminar</button>
        </div>
    </div>

    

    
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="#myModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModal"> {{id}} - {{nombre}} {{apellido}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            {{email}}
            {{createAt}}
        </div>
        
      </div>
    </div>
  </div>


     <!-- Insert Modal -->
  <div class="modal fade" id="myModalInsert" tabindex="-1" role="dialog" aria-labelledby="#myModalInsert" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalInsert">Detalles de Post</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-cliente-formulario></app-cliente-formulario>
        </div>
        
      </div>
    </div>
  </div>
</div>